# PUT YOUR VALUES
PORT=3000
HOST=localhost

MONGO_URI=mongodb://localhost:27017/blogrocket
REDIS_URI=redis://localhost:6379

JWT_SECRET=XXX
JWT_ACCESS=access
JWT_REFRESH=refresh
JWT_ACCESS_EXPIRES_IN=XXX
JWT_REFRESH_EXPIRES_IN=XXX
JWT_AUDIENCE=XXX
JWT_ISSUER=XXX

# SEPARATE CONFIG FOR TEST? APPEND _TEST TO THE ORIGINAL VARIABLE NAME
MONGO_URI_TEST=mongodb://localhost:27017/rocket-weeii