.br-spinner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  left: -100px;
  box-sizing: border-box;
}

.br-spinner.br-spinner--dark-bg {
  color: #FFF;
  animation: shadowRolling 2s linear infinite;
}

.br-spinner.br-spinner--light-bg {
  color: #000;
  animation: shadowRollingLightBg 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }

  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
  }

  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
  }

  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }

  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}

/* same as above but with a dark background */
@keyframes shadowRollingLightBg {
  0% {
    box-shadow: 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0);
  }

  12% {
    box-shadow: 100px 0 black, 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0);
  }

  25% {
    box-shadow: 110px 0 black, 100px 0 black, 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0);
  }

  36% {
    box-shadow: 120px 0 black, 110px 0 black, 100px 0 black, 0px 0 rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: 130px 0 black, 120px 0 black, 110px 0 black, 100px 0 black;
  }

  62% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 130px 0 black, 120px 0 black, 110px 0 black;
  }

  75% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0), 130px 0 black, 120px 0 black;
  }

  87% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0), 130px 0 black;
  }

  100% {
    box-shadow: 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0), 200px 0 rgba(0, 0, 0, 0);
  }
}